.delete {
  background: #ddd;
  padding: 0.3rem 0.6rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-family: var(--type-firts);
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.delete:focus,
.delete:hover {
  outline: none;
  background: white;
  box-shadow: 0 0 03px #eee;
  border-color: #eee;
}
